body {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-size: 28px;
  font-weight: 300;
  line-height: 1.3;
  color: $text;
  background-color: #232323;

  // &.lock {
  //   @include maxw($xl) {
  //     overflow: hidden;
  //   }
  // }
}

.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;

  &__big {
    max-width: 1440px;
    padding: 0 15px;
    margin: 0 auto;
  }
}
      
.logo {
  min-width: 85px;
  height: 70px;
  margin-right: 40px;
 
  img {
    height: 100%;
    object-fit: contain;
  }
}
  
.title {
  font-family: 'Montserrat';
  font-weight: 600;
  font-style: normal;
  font-size: 45px;
  line-height: 1.1;
  text-align: center;
  color: $title;

  @include maxw($md) {
    font-size: 35px;
  }
}