.header {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: right;

  @include maxw($md) {
    overflow: hidden;
  }
 
  &__body {
    display: flex;
    min-height: 100vh;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      bottom: 15px;
      left: 0;
      max-width: 663px;
      height: 605px;
      width: 100%;
      background-image: url('../images/header/header-bg2.png');
      background-repeat: no-repeat;

      @include maxw($md) {
        display: none;
      }
    }
  }
 
  .logo {
    position: relative;
    z-index: 3;
  }

  &__inner {
    flex: 1 1 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 100vh;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: 5%;
      width: 550px;
      height: 460px;
      background-image: url('../images/header/header-bg1.png');
      background-repeat: no-repeat;

      @include maxw($md) {
        display: none;
      }
    }
  }

  &__top {
    display: flex;
    align-items: center;
    padding: 45px 0 0 0;

    @include maxw($md) {
      justify-content: space-between;
    }

    @include maxw($xs) {
      padding: 10px 0 0 0;
      margin: 0 0 60px 0;
    }
  }

  .menu {
    .menu__list {
      display: flex;

      @include maxw($md) {
        position: absolute;
        top: 0;
        right: 0;
        background-color: rgba(#2c251c, 0.7);
        backdrop-filter: blur(10px);
        flex-direction: column;
        text-align: center;
        padding: 140px 30px;
        height: 100vh;
        width: 50%;
        transform: translateX(100%);
        overflow: auto;
        transition: transform 0.5s;
      }

      @include maxw($xs) {
        width: 100%;
      }
    }

    .menu__list--active {
      transform: translateX(0%);
    }
  
    .menu__item {
      margin-right: 40px;
  
      @include maxw($md) {
        margin: 20px 0 50px 0;
      }
    }
  
    .menu__item:last-child {
      margin-right: 0;
    }
  
    .menu__link {
      font-size: 24px;
      line-height: 1.2;

      @include maxw($md) {
        display: block;
        text-align: left;
      }

      @include maxw($xs) {
        text-align: center;
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin-top: auto;
  }

  &__title {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    margin: 0 0 45px 0;
    font-family: 'Montserrat';
    line-height: 1.2;
    font-size: 70px;
    font-weight: 600;
    -webkit-text-stroke: 1px #d4d4d4;
    -webkit-text-fill-color: rgba(23, 23, 23, 0.8);
    text-transform: uppercase;

    @include maxw($sm) {
      font-size: 60px;
      align-self:center;
    }
    
    span {
      display: block;
      text-transform: lowercase;
      @include line-climp(2);

      @include maxw($sm) {
        font-size: 40px;
      }

      &:first-child {
        margin-left: -140px;
        font-weight: 300;
        -webkit-text-fill-color: $text;
        align-self: start;

        @include maxw($md) {
          margin-left: 0;
        }
      }

      &:last-child {
        font-weight: 400;
        -webkit-text-fill-color: $title;
        -webkit-text-stroke: transparent;
        align-self: flex-end;
        padding: 0 30px 0 0;

        @include maxw($sm) {
          padding: 0;
          font-size: 50px;
        }
      }
    }
  }
     
  &__text {
    font-size: 25px;
    line-height: 1.2;
    font-weight: 400;
    margin-bottom: 60px;
    @include line-climp(4);

    @include maxw($sm) {
      line-height: 1.4;
      text-align: right;
    }
  } 

  &__links {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: auto;
  }

  &__link {
    border: 1px solid $title;
    border-radius: 50px;
    color: #fff;
    padding: 16px 38px;
    margin: 20px 0;
    display: flex;
    align-items: center;

    @include maxw($xs) {
      display: block;
      width: 100%;
      text-align: center;
      padding: 16px 20px;
    }

    &:first-child {
      margin-right:25px;

      @include maxw($xs) {
        margin-right: 0;
      }
    }
  }
}
 
.menu__btn {
  display: none;
  background-color: transparent;
  border: transparent;
  outline: none;

  @include maxw($md) {
    display: block;
    width: 35px;
    height: 25px;
    position: relative;
    z-index: 9;
    right: 0;
    top: 0;
    cursor: pointer;
  }
 
  &::before,
  &::after {
    content: '';
    position: absolute;
    background-color: $text;
    width: 100%;
    height: 2px;
    left: 0;
    transition: transform 0.4s ease;
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }

  span {
    position: absolute;
    background-color: $text;
    right: 0;
    width: 70%;
    height: 2px;
    top: 11px;
    transition: transform 0.4s ease;
  }

  &.menu__btn--active {
  
    &::before {
      transform: rotate(45deg);
      top: 9px;
      height: 2px;
    }
  
    &::after {
      transform: rotate(-45deg);
      bottom: 9px;
      height: 2px;
    }

    span {
      transform: scale(0);
    }
  }
}