.reviews {
  padding: 65px 0 68px;
  background-color: #1C1C1C;
}

.reviews-slider {
  position: relative;
  margin: 0 auto;
  width: 868px;
  height: 400px;

  @include maxw($xl) {
    width: 780px;
    height: 380px;
  }

  @include maxw($lg) {
    width: 680px;
  }

  @include maxw($md) {
    max-width: 100%;
    width: 100%;
  }

  &::before {
    content: '';
    position: absolute;
    top: -25px;
    left: -75px;
    width: 100px;
    height: 70px;
    background-image: url('../images/reviews/quotes.svg');
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 9;

    @include maxw($xl) {
      width: 70px;
      height: 50px;
      left: -10px;
    }

    @include maxw($lg) {
      top: -30px;
    }
  }
  
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    width: 1px;
    height: 318px;
    background-image: url('../images/reviews/line.svg');
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 9;

    @include maxw($xl) {
      display: none;
    }
  }

  &__inner {
    max-width: 724px;
    width: 100%;
    padding: 45px 60px;
    background-color: $text23;
    position: relative;

    @include maxw($lg) {
      display: flex !important;
      flex-direction: column-reverse;
      align-items: center;
      padding: 50px 20px 20px 20px;
      align-items: start;
      max-width: 100%;
      justify-content: center;
    }
  }

  &__text {
    max-width: 525px;
    height: 250px;
    overflow: auto;

    @include maxw($lg) {
      font-size: 24px;
      margin-right: 0;
      height: 190px;
      max-width: 100%;
    }

    @include maxw($xs) {
      font-size: 18px;
    }
  }

  &__image {
    width: 158px;
    height: 158px;
    margin: 0;
    position: absolute;
    top: 50%;
    right: -78px;
    transform: translateY(-50%);
    text-align: center;

    @include maxw($xl) {
      width: 120px;
      height: 120px;
      right: -15px;
    }

    @include maxw($lg) {
      position: static;
      width: 90px;
      height: 90px;
      display: flex;
      align-items: center;
      padding-top: 25px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      margin: 0 0 7px 0;

      @include maxw($lg) {
        margin: 0;
      }
    }
  }

  &__name {
    @include maxw($lg) {
      font-size: 24px;
      padding: 0 0 0 15px;
    }
  }

  .reviews-slider__text::-webkit-scrollbar {
    display: none;
  }

  .reviews-slider__text:hover::-webkit-scrollbar {
    display: block;
  }
  
  .reviews-slider__text::-webkit-scrollbar {
    width: 2px;
  }

  .reviews-slider__text::-webkit-scrollbar-track {
    background: rgba(#d4d4d4, 0.6);
  }

  .reviews-slider__text::-webkit-scrollbar-thumb {
    background: rgb(209, 162, 91);
    border-radius: 10px;
    border: 1px solid #ad916a;
  }
} 

.slick-dots {
  display: flex;
  position: absolute;
  bottom: -15px;
  left: 40%;
  transform: translateX(-45%);

  @include maxw($xl) {
    bottom: -30px;
    left: 50%;
  }

  @include maxw($lg) {
    bottom: -50px;
  }
}

.slick-dots li {
  padding: 0 8px;
  line-height: 0;
  font-size: 0;
}

.slick-dots button {
  background-color: #9C9C9C;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  outline: transparent;
  border: 1px solid transparent;

  &:focus {
    background-color: $title;
  }

  &:hover {
    background-color: $hover;
  }

  &:active {
    background-color: #232323;
  }
}

.slick-active button{
  background-color: $title;
}

.rate {
 margin: 0 0 15px 0;
}

.jq-ry-container {
  position: relative;
  padding: 0; 
  line-height: 0; 
  display: block;
  cursor: pointer; 
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  direction: ltr;
}