.footer {
  background-color: #1C1C1C;

  &__body {
    padding: 35px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @include maxw($xl) {
      align-items: center;
      padding: 25px 0 20px 0;
      justify-content: start;
    }

    @include maxw($sm) {
      justify-content: space-between;
    }
  }
 
  &__item {
    max-width: 200px;

    @include maxw($xl) {
      margin: 0 30px 35px 0;
    }
  }

  &__item:not(:last-child) {
    margin-right: 30px;
  }
 
  &__copyrights {
    display: flex;
    flex-direction: column;
    font-size: 14px;

    a {
      margin-bottom: 10px;

      img {
        margin-right: 0;
      }
    }
  }

  &__copyrights-text {
    font-size: 14px;
    line-height: 1.6;
  }

  &__contancts {
    display: flex;
    flex-direction: column;
  }

  &__heading {
    display: block;
    font-size: 18px;
    margin-bottom: 10px;
    line-height: 1.4;
    @include line-climp(2);
  }

  &__text {
    font-size: 16px;
    display: inline-block;
    margin-bottom: 7px;
    @include line-climp(3);
  }

  &__contact {
    font-size: 16px;
    display: inline-block;
    
    &:not(:last-child) {
      margin-bottom: 7px;
    }
  }

  &__link {
    font-size: 16px;
    display: inline-block;
  }
  
  .footer__link-underline {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      width: 185px;
      height: 1px;
      bottom: 0;
      left: 0;
      background-color: $text;
      transition: background-color 0.3s;
    }

    &:hover::before {
      background-color: $hover;
    }
  }

  &__socials {
    display: flex;
  }

  &__social:not(:last-child) {
    margin-right: 10px;
  }
}

.footer-link:hover {

  img {
    opacity: 0.5;
  }
}